.node {
  white-space: nowrap;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.nodeContent {
}

.validDrop {
  background: #26c281;
}

.invalidDrop {
  background: #c0392b;
}

//TODO remove?
// .highlight {
//   background: rgba(75, 73, 73, 0.7);
//   height: 100%;
//   cursor: pointer;
// }
