.node {
  white-space: nowrap;
  position: relative;
  text-align: left;
  overflow: hidden;
}

.nodeContent {

}

.validDrop {
  background: #26C281;
}

.invalidDrop {
  background: #C0392B;
}

//TODO remove?
// .highlight {
//   background: rgba(75, 73, 73, 0.7);
//   height: 100%;
//   cursor: pointer;
// }
